.ex-1-square {
    transition: all 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 3s ease-in ;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 0.5s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: background-color 1.5s ease;
}

.ex-4-square:hover {
    background-color: white;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2,2);
}

.ex-5-square:active {
    transform: scale(0.5,0.5);
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(100%);
}

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: grayscale(70%);
    border-radius: 20px;
}

.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    filter: grayscale(70%);
    border-radius: 20px;
    transform: scale(1.5,1.5);
}

.ex-10-icon {
    animation: rotate 1s linear infinite ;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ex-11-icon:hover{
    animation: rotate-icon2 2.5s ease-in-out;
}

@keyframes rotate-icon2 {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}