.ex-1-square {
    transition: all 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 3s ease-in ;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 0.5s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: background-color 1.5s ease;
}

.ex-4-square:hover {
    background-color: white;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2,2);
}

.ex-5-square:active {
    transform: scale(0.5,0.5);
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(100%);
}

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: grayscale(70%);
    border-radius: 20px;
}

.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    filter: grayscale(70%);
    border-radius: 20px;
    transform: scale(1.5,1.5);
}

.ex-10-icon {
    animation: rotate 1s linear infinite ;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ex-11-icon:hover{
    animation: rotate-icon2 2.5s ease-in-out;
}

@keyframes rotate-icon2 {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: slide-top-white12 2s ;
}

@keyframes slide-top-white12 {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: slide-bottom-white12 2s ;
}

@keyframes slide-bottom-white12 {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: slide-top-white13 2s ;
}

@keyframes slide-top-white13 {
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 30px);
        top: -10px;
    }
    40% {
        left: calc(100% - 30px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: slide-bottom-white13 2s ;
}

@keyframes slide-bottom-white13 {
    0% {
        right: 20%;
        bottom: -10px;
    }
    20% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}